extends base

block content 
  if errMsg
    p=errMsg
  form(method="POST", enctype="multipart/form-data").edit-profile__form
    label Avatar 
    input(name="avatar", type="file", accept="image/*")
    input(name="name", required, placeholder="Name", value=userInfo.name)
    if userInfo.socialOnly 
      input(value=userInfo.email, name="email", title='It is not possible to change e-mail when accessing Github.', readonly) 
    else
      input(name="email", required, type="email", placeholder="Email", value=userInfo.email)
    input(name="username", required, placeholder="Usename", value=userInfo.username)
    input(name="location", required, placeholder="Location", value=userInfo.location)
    input(type="submit", value="Update Profile")
    if !userInfo.socialOnly   
      div.edit-profile__password
        a(href="change-password") Change Password &rarr;