extends base

block content
  div#videoContainer(data-id=video._id, data-user=userInfo)
    video(src=video.fileUrl)  
    div#videoControls
      input(type="range", step="0.1", value="0", min="0")#timeLine
      div#controls--btns
        div#btns--left
          button#play 
            i.fas.fa-play 
          button#mute 
            i.fas.fa-volume-up 
          input(type="range", step="0.1", value="0.5", min="0", max="1")#volume
          div.time.stop-dragging
            span#currentTime 00:00:00
            span  / 
            span#totalTime 00:00:00
        button#fullscreen 
          i.fas.fa-expand
  div.info
    h1=video.description
    span &nbsp;createdAt : #{video.createdAt.toLocaleString('ko-KR')}
    if String(video.owner._id) === String(userInfo._id)
      a(href=`${video.id}/edit`).far.fa-edit
      a(href=`${video.id}/delete`).far.fa-trash-alt
  div.manage
    small Upload by 
      a(href=`/users/${video.owner._id}`)=video.owner.name
  if loggedIn
    form.video__add.video__comment#commentForm 
      a(href=`/users/${userInfo._id}`)
        img(onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'",src=userInfo.avatarUrl).avatar
      div.text
        div.text--user 
          a(href=`/users/${userInfo._id}`) #{userInfo.name} 
        textarea(placeholder="Write a nice commment...").text--comment
      button Add Comment
  div.video__comments 
    ul
      each comment in video.comments.reverse()
        li.video__comment 
          a(href=`/users/${comment.owner._id}`)
            img(onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'",src=userInfo.avatarUrl).avatar
          div.text
            div.text--user 
              a(href=`/users/${comment.owner._id}`) #{comment.owner.name} 
              span #{comment.createdAt.toLocaleString('ko-KR')}
            div.text--comment #{comment.text}
          if loggedIn && (String(comment.owner._id) === String(userInfo._id) || String(video.owner._id) === String(userInfo._id))
            i.fas.fa-trash(data-id=comment._id)
    
block scripts 
  script(src="/static/js/videoPlayer.js")
  script(src="/static/js/commentSection.js") 




//-
  
