extends base

block content
  div#videoContainer
    video(src='/' + video.fileUrl)  
    div#videoControls
      button#play Play 
      button#mute Mute 
      input(type="range", step="0.1", value="0.5", min="0", max="1")#volume
      div 
        span#currentTime.time 00:00:00
        span  / 
        span#totalTime.time 00:00:00
      div
        input(type="range", step="0.2", value="0", min="0")#timeLine
      button#fullscreen Enter Full Screen





block script 
  script(src="/static/js/videoPlayer.js") 





//-
  div 
    p=video.description
    small=video.createdAt
  div 
    small Upload by 
      a(href=`/users/${video.owner._id}`)=video.owner.name
  if String(video.owner._id) === String(userInfo._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;